<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/basicsAppMain.css" />
</head>

<body>
  <% include ../includes/nav.ejs %>
  <% include ../includes/navBasics.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>

  </div>
</div>
<div class="container list">
<% if(errorMessage) { %>
  <div class="message" > <%= errorMessage %></div>
  <% } %>

    <form action="/basicsApp/signup" method="POST">
      
      <label for="name">Email:</label>
      <input type="text" name="email">
      <br>
      <label for="price">Password:</label>
      <input type="password" name="password">
      <br>
      <br>
      <label for="confirm">Password:</label>
      <input type="password" name="confirm">
      <br>

      <button type="submit">SignUp</button>

    </form>
    </ul>
  </div>
</body>
</html>
